@CHARSET "UTF-8";

BODY {padding: 0px; margin: 0px;}

#header {background-color: #EEE; padding: 15px 30px; background-position:center;}
#header H1 {margin: 0px; padding: 0px; font-family: Georgia;}

#page-content H1 {font-family: Arial; font-size: 14pt;}

#page-content {padding: 10px 17px;}

#footer {text-align: center; border-top: 1px solid #EEE; margin-top: 20px; color: #444;}

TABLE.columns TD {vertical-align: top !important; padding-right: 20px; padding-bottom: 5px;}

.ui-datatable.nofullwidth TABLE {width: auto !important;}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

 #page-content, .navbar .container-fluid {width: 1024px; margin: auto; }
 
 
.navbar .container-fluid, NAV.navbar .navbar-collapse {padding-left: 0px !important; }


#page-content H1 {border-bottom: 1px solid #666; margin-bottom: 30px;} 
