@CHARSET "UTF-8";

.merchantTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.merchantTableHeader {
	text-align: center;
	background: none repeat scroll 0 0 #B5B5B5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.merchantTableOddRow {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
}

.merchantTableEvenRow {
	text-align: center;
	background: none repeat scroll 0 0 #D3D3D3;
}

a{
	background-color: brown;
	color: white;
	font-weight: bold;
	font-size: 1.4em;
	font-style: normal;
}
